<% content_for :title do%>
  Help
<%end%>

<br>
<div>
  <strong>Institute Webops</strong><br>
  Mail : institutewebops@gmail.com<br>
</div>
<br>
<strong>Cores: </strong><br>
<div>
  Vivek H V<br>
  Phone : <br>
  Mail : hvvivek@gmail.com<br>
</div>
<br>
<div>
  Avinash Kondeti<br>
  Phone : 9940694804<br>
  Mail : avi.kondeti@gmail.com<br>
</div>
<br>
<div>
  Dharani Manne<br>
  Phone : 9043814168<br>
  Mail : dharani.manne@gmail.com<br>
</div>
