<% content_for :title do%>
  Help
<%end%>
<div class="post_main_container post_div">
<br>
<div>
  <strong>Institute Webops</strong><br>
  Mail : institutewebops@gmail.com<br>
</div>
<br>
<strong>Cores: </strong><br>
<div>
  <b>Vivek H V</b><br>
  Phone : <br>
  Mail : hvvivek@gmail.com<br>
</div>
<br>
<div>
  <b>Avinash Kondeti</b><br>
  Phone : 9940694804<br>
  Mail : avi.kondeti@gmail.com<br>
</div>
<br>
<div>
  <b>Dharani Manne</b><br>
  Phone : 9043814168<br>
  Mail : dharani.manne@gmail.com<br>
</div>
</div>
