<%= content_for :title do %>
  All Notifications
<% end %>

<%= render "shared/sidebar" %>
<div class="post_main_container col-md-10">
<% @notifs.each do |notification| %>
  <%= render notification %>
  <br>
<% end %>

<% if @notifs.length==0 %>
  <br>
  <p> No pending unseen notifications.</p>
<% end%>

</div>
