<span class="float_left">Your Rating: </span>
<% i = 1 %>
<% rate.level.times do %>
  <%= link_to image_tag("icons/icon_rating.png", class: "rating_icon"), rate_path(id:rate.id, i:i), method: 'patch', remote: true %>
  <% i=i+1 %> 
  <%end%>
<% (5-rate.level).times do %>
  <%= link_to image_tag("icons/icon_rating.png", class: "rating_icon_dim"), rate_path(id:rate.id, i:i), method: 'patch', remote: true %>
  <% i=i+1 %>
  <%end%>
