<nav class=" navbar-collapse " role="navigation">
<div id="footer">
  <div class="footer-container">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Copyrights @ Institute WebOps 14-15" , static_pages_contact_path %></li>
      </ul>
    </div>
  </div>
</nav>
