<div div class="col-md-4" style="position:relative;left:20%;">
<%= form_for(:like, url: likes_path, remote: true , html: {:class=>'float_left'} ) do |f| %>
  <div><%= hidden_field_tag :post_id, post.id %></div>
<%= f.submit "Like", class: "like like_btn btn btn-xs btn-default btn-info" %>
  <% end %>
<div class="col-md-1 like like_btn btn btn-xs btn-default btn-info"  style="float:right">
<%= Like.where("post_id=?",post.id).length %>
</div>
</div>