<div class="unsigned_msg_div col-md-4 col-md-offset-4">
<br>
<p>Please login to access any sort of content from this site</p>
<p>Use your LDAP account to login</p>

<div class="signin_form">
<h3 class="form_heading">Sign in</h3>

<div class="form_container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path, method: 'post' , :html => { :class => "form-horizontal"}) do |f| %>

      <%= f.text_field :roll, class:"form-control", placeholder:"Username" %>

      <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary btn-block" %>
    <% end %>

  </div>
</div>
</div>
</div>

<br><br>
</div>
<br>
<div>
<p></p>
<hr>
</div>
