html,
body {  
  background:rgb(245,245,245) !important;
  font-size:14px !important;
  height: 100%;
  font-family: 'Lato', sans-serif !important;
  /*font-family: 'Roboto Slab', serif !important;
  The html and body elements cannot have any padding or margin. */
}

a, a:hover{
  color: #4A439C;
  text-decoration:none;
}
a:hover {
  opacity:0.9;
}

.navbar li a:hover {
  opacity:1;
}
.popover-title {
  display: none;
}

.medium_font {
  font-size: 90%;
}
.small_font {
  font-size: 65%;
}
.post_div textarea{
  resize:vertical;
  border:2px solid rgb(190,190,190);
}

.unsigned_msg_div, .rules_div {
  background:white;
  padding: 20px;
  margin:20px 10px 0 0 ;
  float:left;
}

.unsigned_msg_div .signin_form {
}
.btn-primary, .btn-primary:active,.btn-primary.active,.btn-primary:focus, .btn-primary:checked {
  background:#4A439C;
  border-color: #4A439C;
}
.btn-primary:hover{
  background:#6E6A9C;
  border-color: #4A439C;
}
.rules_div{

}

.float_left {
  float:left;
}

.float_right {
  float:right;
}

.rating_icon {
  height:20px;
  width:20px;
  float:left;
  background-size: 20px 20px;
  background-repeat:no-repeat;
  opacity:1;
}

.rating_icon_dim {
  height:20px;
  width:20px;
  float:left;
  background-size: 20px 20px;
  background-repeat:no-repeat;
  opacity:0.2;
}

.rating_icon_dim:hover {
  opacity:0.5;
}

.search_dropdown {
  padding:5px 5px 5px 10px;
}

.search_dropdown label {
  padding:3px; 
}

.search_arrow {
  float:left;
  padding: 7px 5px 7px 5px;
  background: blue;
  margin:5px 0;
  cursor:pointer;
}

.search_div {
  float:left;
  width:100%
}


/* Wrapper for page content to push down footer */
.container {
  //background-color:rgb(255,255,255);
  min-height: 100%;
  width:100% !important;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;
}

.bold {
  font-weight:900;
}

.notification_div {
  width:100%;
  float:left;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}
/*change hover effect*/
nav a:hover,nav a:focus {
  color: #eeeeee;
}
.form-control:focus {
  border:2px solid #241D7A !important;
}
.btn-primary {
  background:#241D7A !important;
}

.notification_navbar_div {
  height:inherit;
  overflow:auto;
  font-size:90%;
  width:400px;
  white-space:normal;
}

.notifs_container { 
  max-height:300px;
  overflow:auto;
  padding: 0 5px;
}
.notifs_container li:hover {
  background:#eee;
}
.notifs_container a:hover {
  text-decoration:none;
}
.notifs_container a li{
  padding:5px;
}
.dropdown ul{
  border:2px solid rgb(196,196,196);

}

.signin_div{
  //width:200px;
}
.dropdown li a {
  white-space:normal;
}

.badge_notify{
   background:rgb(0, 176, 211);
   position:relative;
   top: -10px;
   left: -6px;
  font-size:0.7em;
  padding:0 3px 3px 3px;
  border-radius:10px;
  color:rgb(0,0,0);
}
.glyphicon-bell {
  font-size:1.2em;
}
.delete_btn {
  color:red;
  padding:0px;
}

.solved_btn {
  color:green;
  padding:0px;
}
.navbar
{ 
  height:50px;
  background-color:#241D7A;
  width:100%;
  margin:auto;
  box-shadow:0 3px 5px -2px rgba(200,200,200,0.9);
}
.navbar a {
  color:white;
}
.navbar a li {
  color:black;
}

.nav li ul li a:hover{
  background:rgb(200,200,200);
}
.nav li a:hover{
  background:#4A439C;
}
#footer .nav li a:hover{
  background:rgb(250,250,250);
}

.navbar-collapse {
  padding:0;
}
.allnotifs_btn a{
  display:inline;
}
.search_box {
  float:left;
  border-radius:0px;
  margin:5px 0;
}

.sidebar_link{
  margin:1px;
  display:block;
  background:rgb(240,240,240);
  padding:10px 25px;
  color:black;
  font-weight:300;
}
.sidebar_link:hover{
  background:#7B77B3;
  color:white;
  text-decoration:none;
}

.tag_link {
  padding:0px 5px;
}

.tag_container{
  margin: 0 0 5px 0;
}
.container {
  padding-top: 50px;
}
.footer-container{
  vertical-align:middle;
  margin-left: 10px;
  margin-right: 10px;
  position-bottom:0px;
}
/*All colors to violet*/
input[type="submit"]{
  background:#241D7A !important;
}
.details_container a ,.footer-container a,a.expand_content{
  color:#241D7A !important;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  margin:auto;
  width:100%;
  background-color:rgba(200,200,200,0.5);
  box-shadow: 0 -3px 5px -2px rgba(200,200,200,0.9);
}

#footer a {
  font-weight:200 !important;
  &:hover {
    box-shadow:-2px -2px 1px #fff;
  }
}

.gravatar{
  background-color: rgb(50,50,50);
  height: 100px;
  width: 100px;
}

.signin_form {
  background:rgb(255,255,255);
  //padding:35px;
  //box-shadow: 0 3px 5px -2px rgba(200,200,200,0.9);
  //width:30%;
  //margin:5%;
}
.signin_form input {
  border-radius: 0px;
  margin:5px;
}

.new_post_form {
}
.new_post_form textarea {
  resize:vertical;
  border-radius:6px
}
.new_post_form input {
  border-radius:6px;
}
.new_post_form h1 {
  width:100%;
  margin:0px;
}
.new_post_form .post_div .row {
  margin:0px;
}
.new_post_form .post_div{
  margin:15px;
  width:100%;
}
.sample1
{
  background-color:rgb(250,240,250);
  width:100%;
  height:150px;
  padding:0;
  margin:0;
}

.review_div
{
  background-color:rgb(200,200,200);
  width:100%;
  height:100px;
  padding:0;
  margin:0;
}

.sample2
{
  background-color:rgb(150,150,150);
  width:20%;
  height:100%;
  padding:0;
  margin:0;
  float: left;
}

.book_content
{
  width:60%;
  float: left;
  height:100%;
  background-color: rgb(250,20,50);
}

.issue_div
{
  height:100%;
  width:20%;
  float:left;
  background-color:rgb(229,229,0);
  position:relative;
}

.book_name
{
  background-color:rgb(229,29,0);
  margin: 0;
  padding: 5px 5px 0px 5px;
}

.author_name
{
  background-color:rgb(22,229,0);
  margin: 0;
  padding: 5px 5px 0px 5px;
}

.review_hide
{
  background-color:rgb(22,229,0);
  margin: 0;
  padding: 5px 5px 0px 5px;
  float:right;
}

.expand_review{
  position:absolute;
  bottom:0;
  right:0;
}

.wrap_div{
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_container{
  margin:auto;
  //width:70%;
  background-color:rb(100,100,0);
  padding:20px 50px !important;
}

.form_heading{
  width:73%;
}

.post_main_container {
  //width:100%;
  //padding-left:calc(25% + 10px);
  margin-top:1.2%;
}
.post_div{
  background:rgb(255,255,255);
  float:left;
  width:100%;
  padding:20px 40px 20px 50px;
  margin-bottom:25px;
  box-shadow:0 0px 5px -2px rgba(100,100,100,0.9);
  display:none;
}

ul{
  list-style: none;
}

.post_content{
  //background-color:rgb(250,250,250);
  padding-bottom:10px;
  color:rgb(50,50,50);
  font-size:1em;
}
a .post_title{
  padding-top:10px;
  padding-bottom:10px;
}
a .post_title {
  color:rgb(40,40,40);
  font-size:1.8em;
  font-weight:300;
}
.post_title:hover {
  text-shadow:2px 2px #999; 
  color:black;
  opacity:0.8;
}

.follow_btn, .unfollow_btn {
  border-radius:0px;
  background: #87C38E;
  border:0px;
}
.like_btn,.unlike_btn
{
 border-radius:0px;
  background: #87C38E;
  border:0px;
  margin-left:-20px;
 }
.like_num,.unlike_num {
  border:1px solid #CCC;
  padding:0 2px 0 0;
  display:inline-block;
  margin-left:5px;
  line-height:25px;
  border-radius:4px;
}
.like_num:before,.unlike_num:before {
  content:"";
  background:url(http://static1.dmcdn.net/images/arrow_bubble.png.v25719b9f3ddac280);
  width:3px;
  height:5px;
  left:-3px;
  top:-4px;
  position:relative;
  display:inline-block;
}
.follow_btn:hover,.follow_btn:active,.like_btn:hover,.like_btn:active {
  background: #97D39E;
  border:0px;
}
.follow_btn:focus,.like_btn:focus {
  background:#87C38E;
  border:0px;
}
.unfollow_btn, unfollow_btn:hover, .unfollow_btn:active {
  background:#645F9E !important;
  border:0px;
}
.unlike_btn, unlike_btn:hover, .unlike_btn:active {
  background:#645F9E !important;
  border:0px;
}

.comment_container input, .comment_container textarea {
  border-radius:0px;
}
.comment_div{

  padding:15px 10px 10px 10px;
  margin: 0 0 5px 0;
  background-color:rgb(240,240,240);
}

.sidebar{
  margin:10px 0 0 0 ;
  padding:15px;
  z-index:200;
  float:left;
  background:rgb(255,255,255);
  box-shadow:0 0px 5px -2px rgba(100,100,100,0.9);
}

.left_sidebar {
  transition:1s;
  left:-25%;
  padding-top:0px !important;
}
.left_sidebar.off_canvas
{
  width:25% !important;
  left:0px;
}

/*.left_sidebar:after {
  content:'<<';
  position:absolute;
  right:-10px;
  width:20px;
  height:600px;
  background:#fff;
  top:0;
  padding-top:90%;
  border-width:0 1px 0 0;
  border-style:solid;
  border-color:#ccc;
}

.left_sidebar:hover:after {
  background:#eee;
  cursor:pointer;
}
*/
.right_sidebar {  
  right:0;
  //margin-right:5px;
  //margin-left:0px;
  float:right;
  margin-right: 1.6%;
}

.right_sidebar .sidebar_link {
  padding-left:5px;
  background:white;
  border-bottom:1px solid #D0CDFF;
}

.right_sidebar .sidebar_link:hover {
  color:#22197F;
  //text-decoration:underline;
}
li{
  list-style:none;
}

.expand_comment{
  float:left;
}

.comment_toggle{
  float:right;
  margin-top:4px;/*fui added*/
}

.load_more{
  text-align:center;
  margin-bottom:20px;
}
.load_more .btn {
  background:rgb(200, 200, 200);
}

.profile_pic {
  margin:0px 5px;
}

.profile_details {
  margin-left:3px;
}

.secretary
{
  color:blue;
}

.secretary_background
{
  background-color:#DAFFC7;
}
.form-control:focus {
  border-color: #4A439C;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(74,67,156,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(74,67,156,.6);
}
.sec_pro_container {
  padding:20px;
  background:white;
  margin-bottom:15px;
  margin-top:-30px;
  box-shadow: 0 0px 15px -4px rgba(74, 67, 156, 0.9);
  -webkit-box-shadow: 0 0px 15px -4px rgba(74, 67, 156, 0.9);
}
.sec_pro_container img:hover {
  box-shadow: 0 0px 15px -4px rgba(74, 67, 156, 0.9);
  -webkit-box-shadow: 0 0px 15px -4px rgba(74, 67, 156, 0.9);
}

.form_container {
  background:white;
  //padding:40px; 
  //margin: 10px;
}

 .off_menu {
  position:relative;
  left:105%;
  top:0px;
  height:30px;
  z-index:1000;
  cursor:pointer;
  font-size:18px;
  background:white;
  padding:5px;
  box-shadow: 0px 0px 5px -2px rgba(100, 100, 100, 0.9);
}
  
.post_main_container {
  margin-left:65px;
  transition:1s;
}
.post_div.correction{
  left: 15%;
  position: relative;
}

.like.btn-info,.follow.btn-info{
  background:#645F9E !important;
}

@media (min-width : 980px) {
  .right_sidebar {
    position: fixed;
  }
  
  .sidebar {
    position:fixed !important;
  }
 
  
}

